
body {
    margin: 0 auto;
    max-width: 800px;
}

.top {
    margin-top: 20px;
}

@media screen and (max-width: 510px) {
    h1 {
        font-size: 1.5rem;
        font-weight: 700;
    }
}

body:not(.phase1) #pane-ideal {
    display: none;
}

body:not(.phase2) #pane-ideal-result-ok {
    display: none;
}

body:not(.phase2) #pane-ideal-result-fail {
    display: none;
}

#pane-ideal-result-fail {
    margin-top: 50px;
}

body:not(.phase3) #pane-idin {
    display: none;
}

body:not(.phase4) #pane-idin-result {
    display: none;
}

.logo {
    height: 50px;
    margin-left: 10px;
}

.bottom {
    margin-top: 3cm;
    margin-bottom: 1cm;
}
